form.layout-builder-configure-section > div.glb-form-item {
    padding-left: 20px !important;
    padding-right: 21px !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}